<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Video App</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='/webcam.css') }}">

</head>
<body>
     
    <div class="video-player" id="recorded_video">
        <video id="video"  autoplay></video>

        <div class="player-controls">
            <button class="play-button"  id="start-camera">&#9658; Turn ON Camera</button>
            <button class="play-button" id="start-record">&#9658; Start Recording</button>
            <button class="play-button" id="stop-record" style="background: red;">&#9611; Stop Recording</button>
        </div>
    </div>


    <div class="container-fluid" id="recorded_video_display">
        <video id="video2"  controls></video>
        <div id="result"></div>
        
    </div>
    <button id="detect_btn" href="/download_video">&#9658; Detect Video</button>

</body>

<script src = "{{url_for('static', filename='video.js')}}"></script>
</html>